  

  .bg-purple-500 { 
    background-color: #31708E;  
  }

  .content {
    padding: 2.5rem;
  }
  
  .main-card {
    background-color: #F7F9FB; 
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .main-card input[type="text"] {
    margin-top: 1rem;
  }
  
  .blue-card {
    flex: 1;
  }
  
  .blue-card .rounded-lg {
    background-color: #add8e6; /* Light Blue */
    margin-bottom: 1rem;
  }
  
  .blue-card:last-child .rounded-lg {
    margin-bottom: 0;
  }