  .main-card {
    background-color: #F7F9FB; 
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #31708E;
    font-size: 30px;
    padding-left: 5%;
  }

  .header {
    margin-top: 5%;
  }

  .content {
    background-color: #31708E; 
  }
  
  .main-card input[type="text"] {
    margin-top: 1rem;
  }
  
  .blue-card {
    flex: 1;
  }
  
  .blue-card .rounded-lg {
    margin-bottom: 1rem;
  }
  
  .blue-card:last-child .rounded-lg {
    margin-bottom: 0;
  }