.view-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-picture-container {
    text-align: center;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .default-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #888;
  }
  
  .greeting-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tab {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .automatch-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-content {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    max-width: 1000px;
    width: 200%;
    margin: 0 auto; /* Center horizontally */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
  }
  
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
    color: #555;
  }