.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F9FB;
  padding: 10px 20px;
}

.topnav .logo a {
  color: #31708E;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.topnav .nav-links {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

.topnav .nav-links a {  
  margin-right: 1rem;
  color: #31708E;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.topnav .nav-links a:hover {
  background-color: #5085A5;
  color: #F7F9FB;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #31708E;
  padding-left: 1rem;
}